<?xml version="1.0" ?>
<robot name="navexbot" xmlns:xacro="http://www.ros.org/wiki/xacro">

<xacro:include filename="$(find navexbot_description)/urdf/materials.xacro" />
<xacro:include filename="$(find navexbot_description)/urdf/navexbot.trans" />
<xacro:include filename="$(find navexbot_description)/urdf/navexbot.gazebo" />
<link name="base_link">
  <inertial>
    <origin xyz="-0.009254790102277678 0.00030185646140882204 0.06936285961362405" rpy="0 0 0"/>
    <mass value="0.6870543200175391"/>
    <inertia ixx="0.002614" iyy="0.004939" izz="0.003796" ixy="3e-06" iyz="6e-06" ixz="-0.000506"/>
  </inertial>
  <visual>
    <origin xyz="0 0 0" rpy="0 0 0"/>
    <geometry>
      <mesh filename="file://$(find navexbot_description)/meshes/base_link.stl" scale="0.001 0.001 0.001"/>
    </geometry>
    <material name="silver"/>
  </visual>
  <collision>
    <origin xyz="0 0 0" rpy="0 0 0"/>
    <geometry>
      <mesh filename="file://$(find navexbot_description)/meshes/base_link.stl" scale="0.001 0.001 0.001"/>
    </geometry>
  </collision>
</link>

<link name="Wheel_LF_1">
  <inertial>
    <origin xyz="1.8510277319250257e-07 0.018603678461580245 1.5221070862048158e-07" rpy="0 0 0"/>
    <mass value="0.037002439542276624"/>
    <inertia ixx="1.5e-05" iyy="2.5e-05" izz="1.5e-05" ixy="-0.0" iyz="0.0" ixz="0.0"/>
  </inertial>
  <visual>
    <origin xyz="-0.038932 -0.047014 -0.01575" rpy="0 0 0"/>
    <geometry>
      <mesh filename="file://$(find navexbot_description)/meshes/Wheel_LF_1.stl" scale="0.001 0.001 0.001"/>
    </geometry>
    <material name="silver"/>
  </visual>
  <collision>
    <origin xyz="-0.038932 -0.047014 -0.01575" rpy="0 0 0"/>
    <geometry>
      <mesh filename="file://$(find navexbot_description)/meshes/Wheel_LF_1.stl" scale="0.001 0.001 0.001"/>
    </geometry>
  </collision>
</link>

<link name="Wheel_LB_1">
  <inertial>
    <origin xyz="-1.921409517532946e-07 0.018603754230977626 -5.947778727866115e-09" rpy="0 0 0"/>
    <mass value="0.03700243954227665"/>
    <inertia ixx="1.5e-05" iyy="2.5e-05" izz="1.5e-05" ixy="-0.0" iyz="0.0" ixz="0.0"/>
  </inertial>
  <visual>
    <origin xyz="0.042999 -0.047014 -0.01575" rpy="0 0 0"/>
    <geometry>
      <mesh filename="file://$(find navexbot_description)/meshes/Wheel_LB_1.stl" scale="0.001 0.001 0.001"/>
    </geometry>
    <material name="silver"/>
  </visual>
  <collision>
    <origin xyz="0.042999 -0.047014 -0.01575" rpy="0 0 0"/>
    <geometry>
      <mesh filename="file://$(find navexbot_description)/meshes/Wheel_LB_1.stl" scale="0.001 0.001 0.001"/>
    </geometry>
  </collision>
</link>

<link name="Wheel_RF_1">
  <inertial>
    <origin xyz="1.6086463860282008e-07 -0.018604422329440283 1.602145324429427e-07" rpy="0 0 0"/>
    <mass value="0.03700239760564051"/>
    <inertia ixx="1.5e-05" iyy="2.5e-05" izz="1.5e-05" ixy="0.0" iyz="0.0" ixz="0.0"/>
  </inertial>
  <visual>
    <origin xyz="-0.038932 0.046092 -0.01575" rpy="0 0 0"/>
    <geometry>
      <mesh filename="file://$(find navexbot_description)/meshes/Wheel_RF_1.stl" scale="0.001 0.001 0.001"/>
    </geometry>
    <material name="silver"/>
  </visual>
  <collision>
    <origin xyz="-0.038932 0.046092 -0.01575" rpy="0 0 0"/>
    <geometry>
      <mesh filename="file://$(find navexbot_description)/meshes/Wheel_RF_1.stl" scale="0.001 0.001 0.001"/>
    </geometry>
  </collision>
</link>

<link name="Wheel_RB_1">
  <inertial>
    <origin xyz="-2.107192602282537e-07 -0.018604498064225893 2.0560647628897755e-09" rpy="0 0 0"/>
    <mass value="0.0370023992249136"/>
    <inertia ixx="1.5e-05" iyy="2.5e-05" izz="1.5e-05" ixy="0.0" iyz="0.0" ixz="0.0"/>
  </inertial>
  <visual>
    <origin xyz="0.042999 0.046092 -0.01575" rpy="0 0 0"/>
    <geometry>
      <mesh filename="file://$(find navexbot_description)/meshes/Wheel_RB_1.stl" scale="0.001 0.001 0.001"/>
    </geometry>
    <material name="silver"/>
  </visual>
  <collision>
    <origin xyz="0.042999 0.046092 -0.01575" rpy="0 0 0"/>
    <geometry>
      <mesh filename="file://$(find navexbot_description)/meshes/Wheel_RB_1.stl" scale="0.001 0.001 0.001"/>
    </geometry>
  </collision>
</link>

<link name="Line_Tracking_Module_1">
  <inertial>
    <origin xyz="0.0126086944929195 -0.01981028871989617 -0.003915295414642989" rpy="0 0 0"/>
    <mass value="0.011999979009967751"/>
    <inertia ixx="2e-06" iyy="1e-06" izz="3e-06" ixy="-0.0" iyz="0.0" ixz="0.0"/>
  </inertial>
  <visual>
    <origin xyz="-0.08012 -0.020763 0.0" rpy="0 0 0"/>
    <geometry>
      <mesh filename="file://$(find navexbot_description)/meshes/Line_Tracking_Module_1.stl" scale="0.001 0.001 0.001"/>
    </geometry>
    <material name="silver"/>
  </visual>
  <collision>
    <origin xyz="-0.08012 -0.020763 0.0" rpy="0 0 0"/>
    <geometry>
      <mesh filename="file://$(find navexbot_description)/meshes/Line_Tracking_Module_1.stl" scale="0.001 0.001 0.001"/>
    </geometry>
  </collision>
</link>

<link name="Lidar_1">
  <inertial>
    <origin xyz="8.370960596393306e-05 -9.423957300589091e-05 0.013994531625658113" rpy="0 0 0"/>
    <mass value="0.1179926993495319"/>
    <inertia ixx="5.2e-05" iyy="5.2e-05" izz="7.3e-05" ixy="-0.0" iyz="-0.0" ixz="0.0"/>
  </inertial>
  <visual>
    <origin xyz="-0.045076 -6.4e-05 -0.154908" rpy="0 0 0"/>
    <geometry>
      <mesh filename="file://$(find navexbot_description)/meshes/Lidar_1.stl" scale="0.001 0.001 0.001"/>
    </geometry>
    <material name="silver"/>
  </visual>
  <collision>
    <origin xyz="-0.045076 -6.4e-05 -0.154908" rpy="0 0 0"/>
    <geometry>
      <mesh filename="file://$(find navexbot_description)/meshes/Lidar_1.stl" scale="0.001 0.001 0.001"/>
    </geometry>
  </collision>
</link>

<link name="Power_Bank_1">
  <inertial>
    <origin xyz="0.011837650195611983 -5.249959364234352e-05 0.016000012764119165" rpy="0 0 0"/>
    <mass value="0.5000878365425067"/>
    <inertia ixx="0.000613" iyy="0.000213" izz="0.000743" ixy="0.0" iyz="-0.0" ixz="0.0"/>
  </inertial>
  <visual>
    <origin xyz="0.054924 -6.4e-05 -0.110908" rpy="0 0 0"/>
    <geometry>
      <mesh filename="file://$(find navexbot_description)/meshes/Power_Bank_1.stl" scale="0.001 0.001 0.001"/>
    </geometry>
    <material name="silver"/>
  </visual>
  <collision>
    <origin xyz="0.054924 -6.4e-05 -0.110908" rpy="0 0 0"/>
    <geometry>
      <mesh filename="file://$(find navexbot_description)/meshes/Power_Bank_1.stl" scale="0.001 0.001 0.001"/>
    </geometry>
  </collision>
</link>

<link name="Raspberry_Pi_5_1">
  <inertial>
    <origin xyz="-0.024667493460366292 0.0032864426186286974 0.005320555712791164" rpy="0 0 0"/>
    <mass value="0.07999928086336155"/>
    <inertia ixx="5.3e-05" iyy="2.3e-05" izz="7.2e-05" ixy="-1e-06" iyz="6e-06" ixz="-0.0"/>
  </inertial>
  <visual>
    <origin xyz="-0.069576 0.018936 -0.110908" rpy="0 0 0"/>
    <geometry>
      <mesh filename="file://$(find navexbot_description)/meshes/Raspberry_Pi_5_1.stl" scale="0.001 0.001 0.001"/>
    </geometry>
    <material name="silver"/>
  </visual>
  <collision>
    <origin xyz="-0.069576 0.018936 -0.110908" rpy="0 0 0"/>
    <geometry>
      <mesh filename="file://$(find navexbot_description)/meshes/Raspberry_Pi_5_1.stl" scale="0.001 0.001 0.001"/>
    </geometry>
  </collision>
</link>

<link name="Dead_Plate_1">
  <inertial>
    <origin xyz="-0.01524990186556413 0.010037228251887697 0.001250000000001042" rpy="0 0 0"/>
    <mass value="0.00600080930940492"/>
    <inertia ixx="1e-06" iyy="1e-06" izz="1e-06" ixy="0.0" iyz="0.0" ixz="0.0"/>
  </inertial>
  <visual>
    <origin xyz="-0.101915 0.017411 -0.046908" rpy="0 0 0"/>
    <geometry>
      <mesh filename="file://$(find navexbot_description)/meshes/Dead_Plate_1.stl" scale="0.001 0.001 0.001"/>
    </geometry>
    <material name="silver"/>
  </visual>
  <collision>
    <origin xyz="-0.101915 0.017411 -0.046908" rpy="0 0 0"/>
    <geometry>
      <mesh filename="file://$(find navexbot_description)/meshes/Dead_Plate_1.stl" scale="0.001 0.001 0.001"/>
    </geometry>
  </collision>
</link>

<link name="Servo_1">
  <inertial>
    <origin xyz="-0.014192077698197803 -3.2856839390893976e-07 -0.0038831761202560294" rpy="0 0 0"/>
    <mass value="0.009861404357094051"/>
    <inertia ixx="1e-06" iyy="1e-06" izz="1e-06" ixy="-0.0" iyz="0.0" ixz="0.0"/>
  </inertial>
  <visual>
    <origin xyz="-0.100215 -0.001689 -0.049408" rpy="0 0 0"/>
    <geometry>
      <mesh filename="file://$(find navexbot_description)/meshes/Servo_1.stl" scale="0.001 0.001 0.001"/>
    </geometry>
    <material name="silver"/>
  </visual>
  <collision>
    <origin xyz="-0.100215 -0.001689 -0.049408" rpy="0 0 0"/>
    <geometry>
      <mesh filename="file://$(find navexbot_description)/meshes/Servo_1.stl" scale="0.001 0.001 0.001"/>
    </geometry>
  </collision>
</link>

<link name="Sensor_Mount_Bracket_1">
  <inertial>
    <origin xyz="0.004874415448836419 -3.285684078318304e-07 0.018650516120220402" rpy="0 0 0"/>
    <mass value="0.006020344936903853"/>
    <inertia ixx="2e-06" iyy="1e-06" izz="1e-06" ixy="-0.0" iyz="0.0" ixz="-0.0"/>
  </inertial>
  <visual>
    <origin xyz="-0.08059 -0.001689 -0.060068" rpy="0 0 0"/>
    <geometry>
      <mesh filename="file://$(find navexbot_description)/meshes/Sensor_Mount_Bracket_1.stl" scale="0.001 0.001 0.001"/>
    </geometry>
    <material name="silver"/>
  </visual>
  <collision>
    <origin xyz="-0.08059 -0.001689 -0.060068" rpy="0 0 0"/>
    <geometry>
      <mesh filename="file://$(find navexbot_description)/meshes/Sensor_Mount_Bracket_1.stl" scale="0.001 0.001 0.001"/>
    </geometry>
  </collision>
</link>

<link name="Ultrasonic_Sensor_1">
  <inertial>
    <origin xyz="0.004740381871565155 -0.02035033093842032 -0.00812316282233208" rpy="0 0 0"/>
    <mass value="0.011000008055678936"/>
    <inertia ixx="2e-06" iyy="0.0" izz="2e-06" ixy="-0.0" iyz="-0.0" ixz="-0.0"/>
  </inertial>
  <visual>
    <origin xyz="-0.08959 -0.022039 -0.092918" rpy="0 0 0"/>
    <geometry>
      <mesh filename="file://$(find navexbot_description)/meshes/Ultrasonic_Sensor_1.stl" scale="0.001 0.001 0.001"/>
    </geometry>
    <material name="silver"/>
  </visual>
  <collision>
    <origin xyz="-0.08959 -0.022039 -0.092918" rpy="0 0 0"/>
    <geometry>
      <mesh filename="file://$(find navexbot_description)/meshes/Ultrasonic_Sensor_1.stl" scale="0.001 0.001 0.001"/>
    </geometry>
  </collision>
</link>

<link name="Arduino_Mega_1">
  <inertial>
    <origin xyz="-0.0248466232318342 0.029164935620340074 0.0028012635578150286" rpy="0 0 0"/>
    <mass value="0.03699959187591482"/>
    <inertia ixx="4.2e-05" iyy="1e-05" izz="5.1e-05" ixy="-1e-06" iyz="1e-06" ixz="0.0"/>
  </inertial>
  <visual>
    <origin xyz="-0.021607 0.036831 -0.046908" rpy="0 0 0"/>
    <geometry>
      <mesh filename="file://$(find navexbot_description)/meshes/Arduino_Mega_1.stl" scale="0.001 0.001 0.001"/>
    </geometry>
    <material name="silver"/>
  </visual>
  <collision>
    <origin xyz="-0.021607 0.036831 -0.046908" rpy="0 0 0"/>
    <geometry>
      <mesh filename="file://$(find navexbot_description)/meshes/Arduino_Mega_1.stl" scale="0.001 0.001 0.001"/>
    </geometry>
  </collision>
</link>

<link name="Expansion_Board_1">
  <inertial>
    <origin xyz="-0.026262260527304696 -0.01037457478684979 0.0033159642124570912" rpy="0 0 0"/>
    <mass value="0.019018596989076455"/>
    <inertia ixx="6e-06" iyy="5e-06" izz="1e-05" ixy="0.0" iyz="0.0" ixz="-0.0"/>
  </inertial>
  <visual>
    <origin xyz="-0.021857 -0.018969 -0.057008" rpy="0 0 0"/>
    <geometry>
      <mesh filename="file://$(find navexbot_description)/meshes/Expansion_Board_1.stl" scale="0.001 0.001 0.001"/>
    </geometry>
    <material name="silver"/>
  </visual>
  <collision>
    <origin xyz="-0.021857 -0.018969 -0.057008" rpy="0 0 0"/>
    <geometry>
      <mesh filename="file://$(find navexbot_description)/meshes/Expansion_Board_1.stl" scale="0.001 0.001 0.001"/>
    </geometry>
  </collision>
</link>

<joint name="Revolute 16" type="continuous">
  <origin xyz="0.038932 0.047014 0.01575" rpy="0 0 0"/>
  <parent link="base_link"/>
  <child link="Wheel_LF_1"/>
  <axis xyz="-0.0 1.0 0.0"/>
</joint>

<joint name="Revolute 17" type="continuous">
  <origin xyz="-0.042999 0.047014 0.01575" rpy="0 0 0"/>
  <parent link="base_link"/>
  <child link="Wheel_LB_1"/>
  <axis xyz="-0.0 -1.0 0.0"/>
</joint>

<joint name="Revolute 18" type="continuous">
  <origin xyz="0.038932 -0.046092 0.01575" rpy="0 0 0"/>
  <parent link="base_link"/>
  <child link="Wheel_RF_1"/>
  <axis xyz="0.0 1.0 -0.0"/>
</joint>

<joint name="Revolute 19" type="continuous">
  <origin xyz="-0.042999 -0.046092 0.01575" rpy="0 0 0"/>
  <parent link="base_link"/>
  <child link="Wheel_RB_1"/>
  <axis xyz="0.0 -1.0 0.0"/>
</joint>

<joint name="Rigid 20" type="fixed">
  <origin xyz="0.08012 0.020763 0.0" rpy="0 0 0"/>
  <parent link="base_link"/>
  <child link="Line_Tracking_Module_1"/>
</joint>

<joint name="Rigid 21" type="fixed">
  <origin xyz="0.045076 6.4e-05 0.154908" rpy="0 0 0"/>
  <parent link="base_link"/>
  <child link="Lidar_1"/>
</joint>

<joint name="Rigid 22" type="fixed">
  <origin xyz="-0.054924 6.4e-05 0.110908" rpy="0 0 0"/>
  <parent link="base_link"/>
  <child link="Power_Bank_1"/>
</joint>

<joint name="Rigid 23" type="fixed">
  <origin xyz="0.069576 -0.018936 0.110908" rpy="0 0 0"/>
  <parent link="base_link"/>
  <child link="Raspberry_Pi_5_1"/>
</joint>

<joint name="Rigid 24" type="fixed">
  <origin xyz="0.101915 -0.017411 0.046908" rpy="0 0 0"/>
  <parent link="base_link"/>
  <child link="Dead_Plate_1"/>
</joint>

<joint name="Rigid 25" type="fixed">
  <origin xyz="-0.0017 0.0191 0.0025" rpy="0 0 0"/>
  <parent link="Dead_Plate_1"/>
  <child link="Servo_1"/>
</joint>

<joint name="Revolute 26" type="continuous">
  <origin xyz="-0.019625 0.0 0.01066" rpy="0 0 0"/>
  <parent link="Servo_1"/>
  <child link="Sensor_Mount_Bracket_1"/>
  <axis xyz="0.0 0.0 1.0"/>
</joint>

<joint name="Rigid 27" type="fixed">
  <origin xyz="0.009 0.02035 0.03285" rpy="0 0 0"/>
  <parent link="Sensor_Mount_Bracket_1"/>
  <child link="Ultrasonic_Sensor_1"/>
</joint>

<joint name="Rigid 28" type="fixed">
  <origin xyz="0.021607 -0.036831 0.046908" rpy="0 0 0"/>
  <parent link="base_link"/>
  <child link="Arduino_Mega_1"/>
</joint>

<joint name="Rigid 29" type="fixed">
  <origin xyz="0.00025 0.0558 0.0101" rpy="0 0 0"/>
  <parent link="Arduino_Mega_1"/>
  <child link="Expansion_Board_1"/>
</joint>

</robot>
